@CHARSET "UTF-8";

body {
	margin: 0 auto;
	padding: 0;
	background: no-repeat fixed white;
	background-size: cover auto;
	background-position: center center;
	font-size: 11pt;
	font-family: Monospaced, serif;
	vertical-align: middle;
	position: absolute;
	width: 100%;
	border: black 20px;
	height: auto;
}

#main * {
	border-radius: 20px;
}

#main {
	min-height: 100%;
	position: relative;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 30px;
	display: table;
	width: auto;
}

section {
	margin: 0 auto;
}

#header {
	height: 40px;
	background: no-repeat #41d575;
	font-size: 12px;
	color: #0e324d;
	border: 0px solid #2F678C;		
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
}

footer {
	background: #41d575 none no-repeat scroll 0% 0%;
	color: black;
	height: 70px;
	display: block;
	font-size: 1em;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	vertical-align: middle;
	padding: 0px;
}

footer p {
	margin: 3px auto;
}

aside {
	padding: 0px 10px;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	width: 300px;
	margin: 5px auto;
	display: table-cell;
	float: right;
}

aside section {
	border: solid 1px black;
	margin-bottom: 10px;
}

a:link, #status a:visited {
	color: black;
}

p, h1, h2 {
	text-align: justify;
	text-indent: 50px;
}

aside form {
	text-align: center;
}

aside p {
	text-align: center;
}

aside article {
	padding: 0 10px 0 10px;
}

aside * {
	text-indent: 0;
	content: 0;
	text-align: center;
}

aside *:before {
	margin: 0 !important;
}

ol, ul {
	margin-left: 60pt;
}

h1, h2 {
	text-transform: uppercase;
}

h1, .sign header {
	font-weight: bold;
}

.center, .status, .status_fail, header {
	text-align: center !important;
	text-indent: 0 !important;
	padding: 3px;
}

.red {
	color: red !important;
	font-weight: bold !important;
}

.status {
	background-color: rgba(76, 175, 80, 0.8);
}

.status_fail {
	background-color: rgba(253, 0, 0, 0.8);
}

a:link, a:visited {
	color: black;
}

a:hover {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

#install {
	padding-left: 50px;
}

article {
	margin: 0 auto;
}

}
subtitle {
	color: red;
}

.panel-group {
	display: table-cell;
	margin-top: 0px;
	top: 0;
	vertical-align: top;
	width: 100%;
}

.tokens_showcase {
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

.tokens_showcase figure {
	display: inline-block;
	min-height: 150px;
	vertical-align: top;
	border: 1px solid #000;
	padding: 10px;
	width: 150px;
	height: 150px;
}

.sign {
	max-width: 500px;
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 10px;
}

input, .panel-group * {
	border-radius: 0 !important;
	min-height: 0 !important;
}

.panel-heading {
	display: block;
	background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
	background-repeat: repeat-x;
	margin: 15px 0px 10px 0px;
	padding: 1px;
	box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.panel-heading:hover {
	background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 30%);
}

.panel-content-off {
	height: 0;
	opacity: 0;
	display: none;
	visibility: hidden;
}

.panel-content-on {
	height: auto;
	opacity: 1;
	box-shadow: 0 5px 6px rgba(0, 0, 0, 0.05);
	visibility: visible;
}

.panel-content-on, .panel-content-off {
	background-color: rgba(245, 245, 245, 0.3);
	margin: 0;
	padding: 15px;
}

.panel-default article {
	-webkit-transition: height 4s linear, opacity 1s linear;
	transition: height 4s linear, opacity 1s linear;
}

#signingLog {
	max-height: 400px;
	overflow-y: auto;
	display: block;
	margin-bottom: 50px;
}